<div class="card">
    <div class="card-body">
        <h1>About us</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti reiciendis totam maiores vero temporibus dolore eum libero, facilis commodi voluptate quidem doloremque, placeat officia dicta voluptatem iste repellendus, optio in.</p>
    </div>
</div>