          <div class="caja__trasera-login">
            <h3>¿Ya tienes una cuenta?</h3>
            <p>Inicia sesion para entrar en la pagina</p>
            <button id="btn__iniciar-sesion">Iniciar sesion</button>
          </div>