          <div class="caja__trasera-register">
            <h3>¿Aun no tienes una cuenta?</h3>
            <p>Registrate para que puedas iniciar sesion</p>
            <button id="btn__registrarse">Registrarse</button>
          </div>